# 3.14(Thurs) String

#### - string에 access: 변수이름[...] 형태
#### - 범위를 설정하여 access도 가능
      ex) s[:3] : 제일 처음부터 2번째까지 access /  s[:] : 전부 다 access

In [6]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6])
print(s[1:3], s[1:], s[:3], s[:])

a f f a
bc bcdef abc abcdef

In [11]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

#### - len: string의 갯수를 받아옴

In [12]:
len(s)

6

* 더하기 기호로 문자의 concatenation 가능, 곱하기 기호로 반복 가능

In [17]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

#### - upper : 대문자로 변경

In [18]:
s.upper()

'ABCDEF'

In [20]:
s = ' this is a house built this year.\n ' 	
s

' this is a house built this year.\n '

In [21]:
print(len(s))

35

#### - find(...) : ...가 있는 포인트 찾기(point는 0부터 시작)

In [22]:
result = s.find('house') 	    # index of first instance of string t inside s (-1 if not found)
result

11

* 찾을 요소가 반복된다면 가장 먼저 나오는 것만(left most)

In [23]:
result = s.find('this')	    # index of last instance of string t inside s (-1 if not found)
result

1

* right most

In [24]:
result = s.rindex('this')        # like s.find(t) except it raises ValueError if not found
result

23

#### - strip: string의 양 끝 지저분한 요소들을 정리

    주의) s = s.strip() : 바뀐 s가 다시 s에 받아짐. 앞부분에 s= 부분 없으면 바뀐 값이 적용되지 않음.

In [25]:
s = s.strip()      	            # a copy of s without leading or trailing whitespace
s

'this is a house built this year.'

#### - split(...): ...을 기준으로 string을 쪼갬(tokenize) 
 * s.split(' ') : 빈칸(스페이스)를 기준으로 쪼개라

In [18]:
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.@n']

#### - join : 쪼개져 있는 token들을 다시 모음

In [19]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
s

'this is a house built this year.@n'

#### - replace(A,B) : A를 B로 교체

In [11]:
s = s.replace('this', 'that')   # replace instances of t with u inside s
s

'that is a house built that year.n'

-----------------------------------------------------------------------------------------------------

## Practice

In [6]:
n = 'korea university'
p = n.upper()
p

'KOREA UNIVERSITY'

In [12]:
print(n[:4])

kore

In [14]:
print(n[:6]+n[6:10])

korea univ

In [15]:
len(n)

16

In [17]:
k = 'one cafe latte please'
print(k)
len(k)

one cafe latte please

21

In [27]:
s = k.find('cafe')
s

4

In [19]:
t = k.split(' ')
t

['one', 'cafe', 'latte', 'please']

In [25]:
t = ' '.join(t)
t

'one cafe latte please'

In [26]:
t = t.replace('one','three')
t

'three cafe latte please'

In [3]:
a = ' one cafe latte and one black tea please '
print(a)
len(a)

 one cafe latte and one black tea please

41

In [6]:
a = a.strip()
print(a)
len(a)

one cafe latte and one black tea please

39

In [7]:
print(a.rindex('one'))

19

In [8]:
print(a.index('one'))

0